html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    background-color: #DDDDDD;
  }
  

/* MENU */
.menu {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
.player1class {
    background-color: #517db6;
}

.whoisplaying {
    background-color: #d1574e;

}
/* Game area*/  
.cardboard {
    max-width: 70ch;
    margin: auto;
    background-color: #DDDDDD; 
}

/* CARD */
.card {
    border: 2px solid black;
    background-color: white;
    transition: transform 0.6s;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.outer {
    position: relative;
    float: left;
    width: 100px;
    height: 150px;
}

.card.back {
    z-index: 2;
    backface-visibility: hidden;
}

.card.front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 90%;
}



